@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Cormorant:wght@700&display=swap');
body {
    font-family: 'Times New Roman', Times, serif;  
}

section {
    margin: 20px;
}
button {
    margin-bottom: 50px;
}

#burger {
    background-color: black;
    color: white;
    border: 2px dotted white;
    /*padding: 0px 10px 0px*/
}

#burger div{
    padding: 10px;

}

#information {
    background-color:  rgb(240, 179, 179);
    color: #803d3d;
    border: 2px dotted #803d3d;
    padding: 0px 10px 0px
}

.Ingredients {
    color: white;
}
#gluten {
    font-weight: bold;
}
#lactose {
    font-weight: bold;
}

button:hover {
    background-color: #3498db;
    cursor: pointer;
}


.header {
    padding: 0px 20px;
    position: relative;
    height: 300px;
    overflow:hidden

}

.header_img {
    width: 100%;
    height: auto;
    opacity: 0.6;
}

.headline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.5em; 
}


.burger-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.burger-item {
    text-align: left;
}

.burger-item img {
    width: 100%;
    max-width: 300px;
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 6vw;
    }
}
